a {
  text-decoration: none;
}

.main {
  background: #f8f8f8;
  text-align: center;
}
.title {
  color: black;
}
.title-contents {
  width: 100vw;
  background-color: #00BFFF;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  justify-content: center;
  padding: 5vh 15vw;
  color: #fff;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
  justify-content: space-between;
  flex-wrap: wrap;
}
.title{
  font-size: 30px;
}

.contents-row {
  
}
.patient-name {
  
}