<%= render "shared/second-header" %>
<div class="conteinar">
  <div class="text-center">
    <h2 class="p-4">患者情報を削除しました</h2>
    <%= link_to "トップページに戻る", "/", class:"btn btn-primary fs-4 pd-3" %>
  </div>
</div>
<%= render "shared/footer"%>

