<%= render "shared/header" %>

<div class='main'>
  <div class='title'>
    <h2>利用者一覧</h2>
  </div>
  <div class="contents row">
    <%# @tweets.each do |tweet| %>
      <%#= render partial: "tweet", locals: { tweet: tweet } %>
    <%# end %>
    <ul class="patient-name">
    <p>患者名A</p>
    <p>患者名A</p>
    <p>患者名A</p>
    <p>患者名A</p>
    <p>患者名A</p>
    <p>患者名A</p>
    <p>患者名A</p>
    </ul>
  </div>
</div>


