<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>LifeFunctionApp</title>
</head>
<header>
  <%= render "shared/header" %>
</header>
<body>
  <h2>利用者一覧</h2>

</body>
</html>
